.header {
  height: var(--header-height);
  background-color: var(--bg-dark);

  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.title {
  font-size: var(--font-size-l);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--white--color);

  background: -webkit-linear-gradient(#ffffff, rgb(219, 176, 33));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
