@font-face {
  font-family: Montserat-M;
  src: url(../fonts/Montserrat-Light.woff2);
  font-weight: 300;
  display: swap;
}

@font-face {
  font-family: Montserat-M;
  src: url(../fonts/Montserrat-Regular.woff2);
  font-weight: 400;
  display: swap;
}

@font-face {
  font-family: Montserat-M;
  src: url(../fonts/Montserrat-Medium.woff2);
  font-weight: 500;
  display: swap;
}

@font-face {
  font-family: Montserat-M;
  src: url(../fonts/Montserrat-SemiBold.woff2);
  font-weight: 600;
  display: swap;
}

@font-face {
  font-family: Montserat-M;
  src: url(../fonts/Montserrat-Bold.woff2);
  font-weight: 700;
  display: swap;
}
